# Supabase — Project Settings > API
NEXT_PUBLIC_SUPABASE_URL=https://joqmmckquscpwxcebmno.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpvcW1tY2txdXNjcHd4Y2VibW5vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTIyMjgzNSwiZXhwIjoyMTAwNzk4ODM1fQ.mVwHkBPaPxAPBCRN7IfKZ6RcmrJNh1IklHHtyDUvZeM
